body {
  font-family: "Arial", sans-serif;
  color: #353535;
  background-color: #dedad7;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: "Open Sans Condensed";
  font-size: 4em;
  font-weight: 700;
  color: #dedad7;
  background-color: #545c5f;
  background-size: cover;
  padding: 15px 30px;
  text-align: center;  
}

h2 {
  font-size: 2em;
  color: #4d5d6c;
  background-color: #cecece;
  padding: 15px 15px;
  text-decoration: none;
}

h3 {
  font-size: 1.5em;
  color: rgb(235, 235, 235);
  background-color: #4d5d6c;
  padding: 5px 10px;
}

div {
    margin: 5px;
    padding: 5px;
}

.whoami-content {
  max-width: 100%;
  display: inline-block;
}

.whoami-text {
  max-width: 65%;
  text-align: left;
  float: right;
}

.whoami-foto {
  max-width: 25%;
  float: left;
}

.abilities-content {
    max-width: 100%;
    background-image: url("/IMAGENS/IMG_20200718_130649379-16:9.jpg");
    background-size: cover;
    background-position: 60% 10%;
    display: inline-block;
}

.abilities-watercolor {
    max-width: 40%;
    text-align: left;
    float: left;
}

.abilities-foto {
    max-width: 40%;
    float: right;
}
/* 
.footer-conteiner {
    max-width: 100%;
    display: inline-flexbox;
}

.footer-left {
    width: 27%;
    margin: 0px;
    padding: 0;
    float: left;
}

.footer-center {
    width: 27%;
    margin: 0px;
    padding: 0;
}

.footer-right {
    width: 27%;
    margin: 0px;
    padding: 0;
    float: right;
}     */

.tag {
  color: #545c5f;
}

.list {
  font-size: 1.2em;
}

.icon {
  border-radius: 7px;
}

.paragraphright {
  text-align: right;
}

.paragraphleft {
  text-align: right;
}

.paragraphcenter {
  text-align: center;
}

.image {
  border-radius: 15px;
}
.whoami-foto img {
    background-color: #353535;
    padding: 5px;
    width: 90%;
    
}

/* https://pt.stackoverflow.com/questions/153761/como-tirar-a-cor-azul-de-links-ultilizando-css
/* link que ainda não foi visitado */
a:link {
  color: #4d5d5c;
}

/* link que foi visitado */
a:visited {
  color: #545c5f;
}

/* mouse over */
a:hover {
  color: #648893;
}

/* link selecionado */
a:active {
  color: #191919;
}
