body{
    font-family: 'Arial'
    color: rgb(40, 43, 48);
    background-color: rgb(243, 217, 160);
}

.headers{
    color: rgb(133, 133, 136);
    background-color: rgba(3, 2, 39, 0.678);
    padding: 25px 100px;
}

h1{
    padding: 25px 100px;
    border-radius: 5;
}

h2{

}